# Copiá este archivo como .env y completá con tus credenciales reales
# NUNCA subas el archivo .env a GitHub

VITE_SHEET_ID=1cyt7KIB8liPuWlFTvttyMDERoyJZZCvU8yzvN0KZlGo
VITE_GOOGLE_CLIENT_EMAIL=tu-cuenta-de-servicio@proyecto.iam.gserviceaccount.com
VITE_GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ntu_clave_privada_aqui\n-----END PRIVATE KEY-----\n"
